* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.4;
  background-color: #fff;
}

a {
  color: #333;
  text-decoration: none;
}

.addExpenseDiv {
  padding: 5px 40px;
}

form {
  background-color: #fff;
  clear: both;
  color: #2E383F;
  font-size: large;
  font-weight: bold;
  width: 100%;
}

input {
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  clear: both;
}

.ExpenseItemDate {
  
  /*flex: 1;*/
  order: 1;
}

.ExpenseItemName {
  /*flex: 1;*/
  order: 2;
}

.ExpenseItemCat {
  /*flex: 1;*/
  order: 3;
}

.ExpenseItemCost {
  /*flex: 0.25;*/
  order: 4;
}

.sortingDiv {
  padding: 5px 40px;
}




